@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: slategray;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: slategray;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-resizer {
  background: transparent;
}

html {
  position: absolute;
  background-color: slategray;
  height: 100vh;
  scrollbar-color: slategray transparent;
  scrollbar-width: thin;
}

body {
  height: 100%;
}

#app {
  height: 100%;
}

footer {
  width: calc(100% - 1rem);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
  width: 100vw;
  height: 100vh;
}
