@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wb-title {
  font-family: "Roboto Mono", monospace;
}

.wb-body {
  background-color: #111316;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background: #111316;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #04d9ff;
  border-radius: 5px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: slategray;
} */

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-resizer {
  background: transparent;
}

::selection {
  background: #04d9ff;
}

::-moz-selection {
  background: #04d9ff;
}

html {
  position: absolute;
  background-color: black;
  height: 100vh;
  width: 100vw;
  scrollbar-color: slategray transparent;
  scrollbar-width: thin;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
}

footer {
  width: calc(100% - 1rem);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
  width: 100vw;
  height: 100vh;
}

.winbox {
  background: #111316;
  /* border: 1px solid transparent;
  transition: border 1s; */
}

/* .winbox:focus-within {
  border: 1px solid #04d9ff;
  transition: border 1s;
} */

.wb-header {
  border-bottom: 1px solid #04d9ff;
  background-color: black;
}

/* @keyframes pulseIn {
  0% {
    border: 0;
  }
  100% {
    border: 1px solid #04d9ff;
  }
}

@keyframes borderPulse {
  0% {
    border-radius: 0;
  }
  50% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0;
  }
}

@keyframes borderSpin {
  0% {
    border-left: 1px solid #04d9ff;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
  }
  25% {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 1px solid #04d9ff;
  }
  50% {
    border-left: 0;
    border-right: 1px solid #04d9ff;
    border-bottom: 0;
    border-top: 0;
  }
  75% {
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #04d9ff;
    border-top: 0;
  }
  100% {
    border-left: 1px solid #04d9ff;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
  }
} */
