@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: slategray;
  height: 100vh;
}

body {
  height: 100%;
}

#app {
  height: 100%;
}

footer {
  width: calc(100% - 1rem);
}